/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    background-color: #121212;
    display: flex;
    font-family: "Roboto", monospace;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-self: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
}

.clock {
    align-self: center;
    background-color: #1f1f1f;
    border-radius: 20px;
    box-shadow: 0 10px 20px #00000046;
    text-align: center;
}

.clock .time {
    color: #f5f5f5;
    font-size: 100px;
    font-weight: 300;
    margin: 50px 0;
    padding: 0 70px;
}

.date {
    align-self: center;
    background-color: #1f1f1f;
    border-radius: 20px 20px 0 0;
    position: relative;
    text-align: center;
}

.date ul.container {
    padding: 5px 30px;
}

.date ul.container li {
    color: #f5f5f5;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    list-style: none;
    padding: 0 10px;
    text-align: center;
}
